body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Times New Roman';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
ul,
p,
a {
    margin: 0;
}

.header {
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    padding: 20px 200px;
}

.header .logo {
    font-size: 24px;
    color:#f9faf8;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-links ul {
    display: flex;
    gap: 20px;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hero .main-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    text-wrap: wrap;
}

.hero .main-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.hero .main-text button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 10px;
}

.hero img {
    height: 200px;
    width: 450px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
    gap: 30px;
}

.card-section {
    display: flex;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-section img {
    border-radius: 10px;
    width: 175px;
    height: 200px;
}