body {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Times New Roman';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
ul,
p,
a {
    margin: 0;
}

.header {
    background-color: #1F2937;
}

.header .logo {
    font-size: 24px;
    color:#f9faf8;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .main-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero .main-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .main-text button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 10px;
}

.hero img {
    width: 450px;
}